.shadow-image {
  box-shadow: $color-primary 15px 15px 0 0;
}

.spinning-square {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: $color-light-grey;
  animation: spin 40s linear 0s infinite;
  z-index: 1;
}

// Flipping cards
.flippy-card {
  width: 100%;
  max-width: 400px;
  height: 400px;
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  perspective: 150rem;
  transition: 0.1s;

  @include respond(large) {
    height: 300px;
  }
  @include respond(medium) {
    height: 300px;
  }
  @include respond(small) {
    height: 380px;
  }
  @include respond(smaller) {
    height: 400px;
  }

  &__front,
  &__back {
    perspective: 150rem;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.5s, background-color 0.1s, box-shadow 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 10px 10px 0 $color-primary;
    &:hover {
      box-shadow: 11px 11px 0 1px $color-primary;
    }
  }

  &__front {
    background-color: $color-white;
    border: 3px solid $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    &__title {
      text-align: center;
      font-size: 35px;
      transform: rotate(10deg);
      text-decoration: underline;
      @include respond(small) {
        font-size: 30px;
      }
    }

    &__button {
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      &--1 {
        animation: blink 1s linear 0.1s infinite;
      }
      &--2 {
        animation: blink 1s linear 0.2s infinite;
      }
      &--3 {
        animation: blink 1s linear 0.3s infinite;
      }
    }
  }

  &__back {
    background-color: $color-secondary;
    border: 3px solid $color-primary;
    transform: rotateY(180deg);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    @include respond(smaller) {
      padding: 15px;
    }

    &__header {
      display: grid;
      grid-template-columns: 1fr 30px;
      margin-bottom: 20px;
      @include respond(small) {
        grid-template-columns: 1fr 25px;
      }
    }

    &__title {
      font-size: 20px;
      @include respond(smaller) {
        font-size: 18px;
      }
    }

    &__text {
      @include respond(smaller) {
        font-size: 14px;
      }
    }

    &__list {
      list-style: none;
      width: 100%;
      flex-grow: 1;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      margin-bottom: 10px;

      li {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        border-bottom: 3px solid $color-primary;
        @include respond(smaller) {
          font-size: 14px;
        }
        span {
          display: inline-block;
          height: 100%;
          background-color: $color-secondary;
          transform: translateY(10px);
          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
  }

  &.flipped &__front {
    transform: rotateY(-180deg);
  }

  &.flipped &__back {
    transform: rotateY(0);
  }
}
