.section-projects {
  background-color: $color-light-grey;
  clip-path: polygon(0 0, 90% 5%, 86% 100%, 0% 100%);
  display: grid;
  @include respond(large) {
    clip-path: polygon(0 0, 90% 2%, 86% 100%, 0% 100%);
  }
  @include respond(small) {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
