// Colors
$color-primary: black;
$color-white: white;
$color-light-grey: rgb(235, 233, 233);
$color-lightest-grey: rgb(243, 242, 242);
$color-secondary: #c2a9ff;
$color-secondary-dark: #a47fff;
$color-secondary-light: #e7deff;

// Other
$sidebar-width: 350px;
$sidebar-width-small: 250px;
$transition: 0.3s;
