// Colors
$color-primary: black;
$color-white: white;
$color-light-grey: rgb(235, 233, 233);
$color-lightest-grey: rgb(243, 242, 242);
$color-secondary: #c2a9ff;
$color-secondary-dark: #a47fff;
$color-secondary-light: #e7deff;

$color-sengire: #6a4f45;
$color-sengire-dark: #4d3932;
$color-aig: #f7ad62;
$color-aig-dark: #d37d42;
$color-oorlu: #ffd571;
$color-oorlu-2: #9cb88a;
$color-oorlu-2-dark: #79916a;

// Other
$sidebar-width: 350px;
$sidebar-width-small: 250px;
$transition: 0.3s;
