body {
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 200;
  display: grid;
  @include section-grid;
  grid-template-rows: [landing-start] 100vh [landing-end];
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
}

.link {
  color: $color-secondary-dark;
  cursor: pointer;
}
