body {
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 200;
  display: grid;
  @include section-grid;
  grid-template-rows: [landing-start] 100vh [landing-end];
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  letter-spacing: 1px;
  position: relative;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
  font-weight: 300;
}

.link {
  color: $color-secondary-dark;
  cursor: pointer;
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  font-size: 18px;
  margin: 0;
  padding-left: 20px;
  list-style: square;
  font-weight: 300;
}

p,
a,
li {
  font-size: 18px;
  @include respond(small) {
    font-size: 16px;
  }
}
